* pat to BERT model location uncased D:\dataset\BERT_model\uncased_L-12_H-768_A-12

In [1]:
import pickle
import h5py
import pandas as pd
import numpy as np

INPUT_TEXT_LENGTH = 294 # from previous notebook

df_preprocessed = pd.read_pickle("./V1_preProcessed.pkl")

In [2]:
df_preprocessed[49996:50002]

,review,sentiment,word_count
49996,movie nothing like book think writer screenpla...,0.0,55
49997,first watched flatliners amaze necessary featu...,1.0,89
49998,see movie find hard understand many people see...,1.0,87
49999,work class romantic drama director martin ritt...,1.0,92
50000,admit great majority film release say dozen ma...,2.0,73
50001,take low budget inexperienced actor double pro...,2.0,88

In [3]:
del df_preprocessed['word_count']
df_preprocessed['sentiment'] = df_preprocessed['sentiment'].astype('int64')

In [5]:
df_preprocessed.head()

                                              review  sentiment
0  granny best movie ever ganny best movie ever s...          1
1  always want see film finally get knew nice sur...          1
2  story potential good film difficult choice lov...          0
3  belongs top tier although others micro phony p...          1
4  ief review contain spoiler since movie spoil w...          0

In [6]:
'''

#Stratiy on y_train data
X_train,X_test,y_train,y_test = train_test_split( X_train, y_train, test_size=0.04,stratify=y_train, random_state=42) 

ut hold on! The test dataset, test.tsv, has a slightly different format. 
It gets a header line and the only two fields included are the ID and Text - no label column. 
That's why I created test_original.tsv in the above step (keep this around as it is needed later)
'''

from sklearn.model_selection import train_test_split


df = pd.DataFrame()
df = df_preprocessed[0:49999]

'''
shuffle data
split data
than convert to tsv
and drop column for testing as nedded
'''

X= df #PADDED VERSION OF DATA
y= df['sentiment'] # LABELS OF DATA

X_train, X_val, y_train, y_val = train_test_split( X, y, test_size=0.10,stratify=y, random_state=42)                #30%
#  #4%
#Stratiy on y_train data
X_train,X_test,y_train,y_test = train_test_split( X_train, y_train, test_size=0.10,stratify=y_train, random_state=42) 
#df.to_tsv(header=None,index=False)
# if you are creating test.tsv, set header=True instead of False

In [7]:
print("Train data:",len(X_train),'  ',len(y_train))
print("Validation data:",len(X_val),'  ',len(y_val))
print("Test data:",len(X_test),'  ',len(y_test))
#print(type(y_train))

'''
X_train = np.asarray(X_train)
X_val = np.asarray(X_val)
X_test = np.asarray(X_test)

y_train = np.asarray(y_train)
y_val = np.asarray(y_val)
y_test = np.asarray(y_test)
'''

Train data: 40499    40499
Validation data: 5000    5000
Test data: 4500    4500

'\nX_train = np.asarray(X_train)\nX_val = np.asarray(X_val)\nX_test = np.asarray(X_test)\n\ny_train = np.asarray(y_train)\ny_val = np.asarray(y_val)\ny_test = np.asarray(y_test)\n'

In [8]:
X_test.head()

                                                  review  sentiment
47486  speck white various shape beautiful nude rando...          0
1385   like people know come late stinger three year ...          1
38074  become big fan carpenter really enjoy movie fe...          0
29998  god bless joe amato love italian horror cheese...          1
9586   copy vhs think television network play every y...          0

In [9]:
X_train.to_csv('bert_colab_output/train.tsv', sep='\t')
X_val.to_csv('bert_colab_output/val.tsv', sep='\t')
X_test.to_csv('bert_colab_output/test.tsv', sep='\t')

'''
 python bert/run_classifier.py \
--task_name=cola \
--do_train =true \
--do_eval=true \
--vocab_file=D:\dataset\BERT_model\uncased_L-12_H-768_A-12/vocab.txt \
--bert_config_file=D:\dataset\BERT_model\uncased_L-12_H-768_A-12/bert_config.json \
--init_checkpoint= D:\dataset\BERT_modelD:\dataset\BERT_model/bert_model.ckpt/ \
--max_seq_length=128 \
--train_batch_size=32 \
--learning_rate=2e-5 \
--num_train_epochs=3.0 \
--data_dir= bert/bert_input/ \
--output_dir=./bert_output/



python bert/run_classifier.py \ --task_name=cola \ --do_train =true \ ----do_eval=true \ --data_dir= D:\NLP\andrew\nlp\9. BERT\bert\bert_input\ --vocab_file=D:\dataset\BERT_model\uncased_L-12_H-768_A-12/vocab.txt \ --bert_config_file=D:\dataset\BERT_model\uncased_L-12_H-768_A-12/bert_config.json \ --init_checkpoint= D:\dataset\BERT_modelD:\dataset\BERT_model/bert_model.ckpt/ \ --max_seq_length=128 \ --train_batch_size=16 \ --learning_rate=2e-5 \ --num_train_epochs=3.0 \ --data_dir=bert/bert_input/ \ --output_dir=./bert_output/


'''
https://blog.insightdatascience.com/using-bert-for-state-of-the-art-pre-training-for-natural-language-processing-1d87142c29e7
https://github.com/craic/bert_paper_classification
https://ai.googleblog.com/2018/11/open-sourcing-bert-state-of-art-pre.html
https://www.depends-on-the-definition.com/named-entity-recognition-with-bert/