In [8]:
get_ipython().config.get('IPKernelApp', {})['parent_appname'] = ""

# Tagging NER
* refer about alinds comment during visit
* probably lowercasing , lemmatizing, special chars may be important, punctuation.(its important to keep)

    # For us [PERSON, NORP , FAC, GPE, LAW, DATE]

In [1]:
import spacy
import pandas as pd
import en_core_web_sm
nlp = en_core_web_sm.load()

In [5]:
df = pd.read_pickle("./news_df.pkl")
print(df['news_category'].value_counts())
politics_df = (df[df['news_category'] == 'politics'])
#corpus = "US unveils world's most powerful supercomputer, beats China. The US has unveiled the world's most powerful supercomputer called 'Summit', beating the previous record-holder China's Sunway TaihuLight. With a peak performance of 200,000 trillion calculations per second, it is over twice as fast as Sunway TaihuLight, which is capable of 93,000 trillion calculations per second. Summit has 4,608 servers, which reportedly take up the size of two tennis courts."

technology    1488
sports        1449
national      1073
politics      1030
world          885
business       746
Name: news_category, dtype: int64

In [9]:
politics_df.head()

,news_headline,news_article,news_category
50,Voting for Lok Sabha elections in Delhi to be ...,"The voting for Lok Sabha elections in Delhi, w...",politics
51,"For 1st time in history, polling to be held fo...",The Election Commission has announced that a t...,politics
52,Maharashtra to vote in four phases in Lok Sabh...,The Election Commission of India has announced...,politics
53,"If Muslims can work, why can't they vote durin...",AIMIM President Asaduddin Owaisi has said that...,politics
54,Tollywood actor and comedian Ali joins YSR Con...,Following the announcement of Lok Sabha polls ...,politics

In [10]:
named_entities = []
for sentence in politics_df['news_article']:
    temp_entity_name = ''
    temp_named_entity = None
    sentence = nlp(sentence)
    for word in sentence:
        term = word.text 
        tag = word.ent_type_
        if tag:
            temp_entity_name = ' '.join([temp_entity_name, term]).strip()
            temp_named_entity = (temp_entity_name, tag)
        else:
            if temp_named_entity:
                named_entities.append(temp_named_entity)
                temp_entity_name = ''
                temp_named_entity = None

entity_frame = pd.DataFrame(named_entities, 
                            columns=['Entity Name', 'Entity Type'])

In [11]:
top_entities = (entity_frame.groupby(by=['Entity Name', 'Entity Type'])
                           .size()
                           .sort_values(ascending=False)
                           .reset_index().rename(columns={0 : 'Frequency'}))

In [12]:
top_entities.head()

    Entity Name Entity Type  Frequency
0      Congress         ORG        597
1     Lok Sabha      PERSON        142
2  Rahul Gandhi      PERSON        140
3         India         GPE        135
4        Sunday        DATE        107

# Here usually [ORG, PERSON ] are interchanchble we can set amanul list and regex to handle

In [28]:
a = top_entities[top_entities['Entity Type']=='PERSON']

In [29]:
a.head(10)

              Entity Name Entity Type  Frequency
1               Lok Sabha      PERSON        142
2            Rahul Gandhi      PERSON        140
12          the Lok Sabha      PERSON         72
21          Narendra Modi      PERSON         49
22              Amit Shah      PERSON         43
31                    BJP      PERSON         36
43         Akhilesh Yadav      PERSON         26
46  Priyanka Gandhi Vadra      PERSON         25
47           Smriti Irani      PERSON         25
50         2019 Lok Sabha      PERSON         22